*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #27292c;
  padding: 20px;
  color: white;
}

h1{
  margin-top: 30px;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link{
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}

.nav-link-item{
  font-size: 1.1rem;
}

.nav-logo{
  width: 55px;
}